[2022-10-17 05:42] linouk23 commented on #117
That's great to hear!

Could you create a separate issue for that (something like "How to import lots of resources at once?") and resolve this one?

There're some plans about launching a script that would allow a user to import their existing CC infrastructure to TF but for now you might have to write your own scripting tool or something.

[2022-10-17 09:55] SukantArora commented on #117
Got It, Thanks for the support!

[2022-10-17 09:55] #117 closed

[2022-10-17 12:53] suraj2410 opened #120 "Plugin crashed"
`Version: 1.8.0`

Terraform provider fails on kafka acl apply with the following message:

[code]

[code]

Tried using curl locally with the same key and secret and it gets 201 but doesnt create any ACL in the cluster view
[code]

[2022-10-17 13:13] suraj2410 commented on #119
I got similar error while creating ACL
more details in https://github.com/confluentinc/terraform-provider-confluent/issues/120

[2022-10-17 20:49] linouk23 commented on #120
@suraj2410 thanks for reporting the issue!

I might have to take a look to understand why we can see an issue for `confluent_kafka_acl.test-service`.

That said, it's a very smart idea to send a curl and the why you can fix curl is to use int ID for a service account (User:54321) instead of a resource ID (User:sa-abc123). See [this note](https://registry.terraform.io/providers/confluentinc/conflue

[2022-10-18 06:28] suraj2410 commented on #120
@linouk23 thanks for the comment!

i tried using both `User:54321` and `User:sa-abc123` and curl returns 201 but the ACL is not created in the confluent cloud console

I can make sure that the API key and secret is working since if i change it a bit in the CURL request it gives unauthorized error. This was just to make sure that we are not looking at an authorization issue

Just some additional lo

[2022-10-18 06:40] linouk23 commented on #120
@suraj2410 thanks for sharing these details!

For a second, let's forget TF issue and let's make sure your curl works as expected (i.e., creates an ACL).

It's a well-known issue that Kafka REST API returns `201` as long as input request doesn't have authz / malformed.

1. Could you confirm you can find your `sa-abc123` when running [confluent iam service-account list](https://docs.confluent.io/co

[2022-10-18 06:44] suraj2410 commented on #120
@linouk23 update: the CURL works with `User:12345` sorry! my bad!  had a typo there
so the only issue is the resource with TF now

[2022-10-18 06:52] linouk23 commented on #120
That sounds promising! Now it might be a good idea to try the following:

1. Double check that `var.cluster_id` is in the form of`lkc-abc123`.
2. Double check that `kafka_rest_endpoint` is in the form of `https://pkc-012345.us-central1.gcp.confluent.cloud:443`.
3. Could you switch from [managing-single-cluster](https://github.com/confluentinc/terraform-provider-confluent/tree/master/examples/confi

[2022-10-18 14:58] suraj2410 commented on #120
@linouk23 it works now! there was some issue with the confluent key and secret which perhaps CURL didn't give back expected results and just 201

so was hard to figure out

May be we can have some better feedback from the plugin when this happens like this time the creds that i had wasnt able to get the service accounts

[2022-10-18 17:56] christophermaier opened #121 "Topic creation appears fundamentally broken"
I'm trying to create a new topic using the Terraform provider.

I have read the advisories about the topic configuration values that aren't editable after topic creation. However, it appears that you can't even edit those values when you *create* the topic, and that any of those overridden defaults that remain in your resource definition trigger subsequent updates that can never succeed.

As long

[2022-10-19 19:40] pichouk opened #122 "Unable to configure a provider using a confluent_api_key resource."
Hi,

I have the following (simplified) Terraform code

[code]

What I'm trying to achieve is to create some resources using the `confluent` provider, and create some topics (I only have one cluster) using the `confluent.kafka` provider. In this setup, the `confluent` provider create the Kafka Cluster API key used for the `confluent.kafka` provider.

But when I run `terraform plan` I have this erro

[2022-10-20 02:57] linouk23 commented on #122
Thanks for creating this issue @pichouk!

That's a very interesting idea!

First things first, could you double check you [provided](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs#example-usage) Cloud API Key & Cloud API Secret to TF Provider as well?
[code]

Also you might want to update
[code]

[2022-10-20 02:58] linouk23 commented on #120
cc @suraj2410 ⬆️

[2022-10-20 03:51] linouk23 commented on #121
👋 thanks for creating this issue and writing such a detailed summary!

I think [our docs](https://docs.confluent.io/cloud/current/clusters/broker-config.html#custom-topic-settings-for-all-cluster-types) are a little bit unclear and they don't specify which topic settings can be specified on `CREATE` and the assumption a reader might have is as long as the topic setting is listed in that table, one

[2022-10-20 03:51] linouk23 commented on #121
cc @christophermaier ⬆️

[2022-10-20 06:09] nick-osborn commented on #119
+1
Getting exact same error for MQTT source connector as of 1.8.0. My last connector with almost identical config on 1.6.0 created with no issues. Other source MQTT connectors with no changes had no issue, so it doesnt appear to be introducing anything breaking for existing connectors.

module.mqtt_source_response.confluent_connector.mqtt_source: Creating...
╷
│ Error: Request cancelled
│
│   with

[2022-10-20 06:24] nick-osborn commented on #119
Downgrade to 1.7.0 gives the same, going to try again with 1.6.0 downgrade

│ The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ApplyResourceChange call. The plugin logs may contain more details.
╵

Stack trace from the terraform-provider-confluent_1.7.0 plugin:

panic: reflect: call of reflect.Value.FieldByName on ptr Value

goroutine 48 [running]:
reflect.flag.

[2022-10-20 06:25] linouk23 commented on #119
@nick-osborn thanks for reporting!

Could you try to use [this method](https://docs.confluent.io/cloud/current/api.html#tag/Plugins-(v1)/operation/validateConnectv1ConnectorPlugin) to validate your input manually?

[2022-10-20 06:39] nick-osborn commented on #119
:) Was finishing the downgrade test to 1.6 and then realized it... it was the same name as my other connector. Ill check that out next time though, didnt realize that api was available.

Its playing nice on 1.8.0 now for that issue. Its failing on something different thats a "my problem" thing. Most likely source perms for the mqtt topic.

Might be a nice feature to throw in a complaint from provi

[2022-10-20 06:45] nick-osborn commented on #119
@andreniklasson, I have some running snowflake connector modules as well. As near as I can tell without the redacted urls and such your config look correct to me except that it looks like its missing the broker details. I assumed that was required on all of connectors.

    "confluent.topic.bootstrap.servers" = "broker:29092"
    "confluent.topic.replication.factor" = "1"
    "confluent.license" =

[2022-10-20 06:46] pichouk commented on #122
Hi @linouk23
Sorry I made a mistake will copying my code, I actually use `confluent_api_key.kafka_provider.secret` for the key (I edited my original post).

Also I have correctly set `CONFLUENT_CLOUD_API_KEY` and `CONFLUENT_CLOUD_API_SECRET ` env variables. The first provider is working fine, I know it because the API key have been created and is in my state :

[code]

[2022-10-20 06:49] linouk23 commented on #119
I'm happy to hear you managed to resolve your issue!

That's likely what API returns and TF Provider should be able to show the same error but I wanted to double check it.

[2022-10-20 06:52] nick-osborn commented on #119
As always, very much appreciate the prompt responses. Im starting to wonder if you ever sleep. ;) Or maybe youre a really well-constructed Confluent AI chatbot.

[2022-10-20 07:45] pichouk commented on #122
When doing something like this it works
[code]

So I think it's an issue related to the `confluent_api_key` resource. This resource have been imported on Terraform so maybe it might be on issue related to key import ?

[2022-10-20 07:52] #122 closed

[2022-10-20 08:07] linouk23 commented on #122
That's great to hear you managed to fix the issue!

I was about to create a bug for

but then I opened [the docs](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_api_key#import) and realized that `confluent_api_key` is the unique resource that supports both options for importing which is why you didn't get the error during `terraform import` command.

[2022-10-20 13:56] suraj2410 commented on #120
@linouk23 i had to change to use cloud api key instead of the kafka api key

[2022-10-20 14:04] suraj2410 commented on #120
also now we have a new issue with import so not sure what i am missing with ACL here with the User id and works with the sa format

[code]

But this works if i specify `User:sa-123456`

any ideas

[2022-10-20 15:40] christophermaier commented on #121
@linouk23 This is very much a documentation issue, then. Calling something a configuration value when it can't be changed at all, even at topic creation time, is needlessly confusing. If I see something described as "configuration", it is entirely reasonable to think that I can actually configure it.

I'm glad that work is underway to enable changing these values, but until that capability is read

[2022-10-20 18:03] linouk23 opened #123 "Error with importing ACLs assigned to a user"
### What
[code]
but ⬆️ works for `User:sa-abc123`.

### References
https://github.com/confluentinc/terraform-provider-confluent/issues/120#issuecomment-1285605681

cc @suraj2410

[2022-10-20 18:03] linouk23 commented on #120
opened https://github.com/confluentinc/terraform-provider-confluent/issues/123 for your last message

that's great to hear! I'll try to reproduce it with using Cloud API Key instead of Kafka API Key.

[2022-10-21 11:50] mps021 commented on #88
I have been facing the issue, while trying to create an ACL rule over the confluent cloud, at times it works and at times it is miss for a certain period. I am not sure what is causing this ?
In addition to this it throws 401 unauthorised.

[2022-10-23 01:01] linouk23 commented on #88
@mps021 it looks like your error is slightly difference, the author of this issue reported `http: server gave HTTP response to HTTPS client` error:
[code]

Could you double check you provided Kafka API Key & Kafka API Secret in either `credentials` block of target `confluent_kafka_acl` resource or in `providers` block as specified [here](https://registry.terraform.io/providers/confluentinc/conflue

[2022-10-23 01:08] linouk23 commented on #113
I'm closing this issue since it looks like one of our engineers didn't manage to reproduce this issue.

[2022-10-23 01:08] #113 closed

[2022-10-23 01:09] linouk23 commented on #115
@rogerioefonseca I'm closing this issue but feel free to let me know if my comment above didn't help to resolve the issue.

[2022-10-23 01:09] #115 closed

[2022-10-23 07:06] linouk23 commented on #120
@suraj2410 could you double check you can see a user with such an ID on the [Confluent Cloud UI](https://stag.cpdev.cloud/settings/org/accounts/users?user_dir=ASC&user_sort=status) or when running `confluent iam user list` using Confluent CLI?

I'm not able to reproduce this issue:
[code]

[2022-10-23 07:06] linouk23 commented on #123
I'm not able to reproduce the issue, see https://github.com/confluentinc/terraform-provider-confluent/issues/120#issuecomment-1288031290

[2022-10-23 07:11] linouk23 commented on #121
Thanks for the feedback @christophermaier! We're working on updating [docs](https://docs.confluent.io/cloud/current/clusters/broker-config.html#custom-topic-settings-for-all-cluster-types) to split `Editable` column into `Editable on Create` and `Editable after Create` columns.

Do you think it'll helpful to delete topic settings that have `No` as a value for both `Editable on Create` and `Editabl

[2022-10-23 13:13] christophermaier commented on #121
@linouk23 That depends on what operators or users can do with that knowledge. Is there any benefit to knowing about an internal detail that you can't change? Maybe it's good information to know, in order to have a better understanding of how the system works, so you can better reason about things when you're trying to, say, debug something. Maybe it's not useful to know.

In any event, I don't thi

[2022-10-23 14:11] tfindlay-au commented on #5
@linouk23 Just politely asking if there is any progress on this issue ?

Specifically pointing out in #114  - I feel like its a significant issue as the product changed without notice and now impacts customers, there is no choice for customers to roll back to the earlier version of Confluent Cloud. So I expect fixing this should be a priority for Confluent.

Happy to ask everyone to raise it as a

[2022-10-23 17:13] linouk23 commented on #5
@tfindlay-au thanks for asking! It is coming soon, watch out for changes in `CHANGELOG.md` 👌

[2022-10-23 17:41] linouk23 commented on #120
@suraj2410 could you confirm that your `var.cluster_id` starts with `lkc-`?

I'm trying to reproduce the issue locally using TF Provider `1.8.0` with no success:

[code]

[2022-10-23 18:12] linouk23 commented on #119
As @nick-osborn said before, the problem could be

I managed to reproduce it by trying to connect 2 connectors with the same name:
[code]

[code]

[2022-10-23 18:46] linouk23 commented on #119
Created a PR to internal repository to fix this issue that should go live in the next release 👌

[2022-10-24 07:32] rogerioefonseca commented on #115
Sure, sorry about the lack of reply.
I believe it was a one-time issue, because after recreating the cluster it worked as expected, BTW I double-checked the points that you mentioned, and it was all fine, I was not able to find problems related to API or granting,
Thanks for the support

[2022-10-24 20:26] linouk23 commented on #120
We've just released [version](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md#190-october-24-2022) `1.9.0` of TF Provider for Confluent that should fix this problem, feel free to reopen if you manage to reproduce the issue.

[2022-10-24 20:27] linouk23 commented on #119
@andreniklasson we've just released [version](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md#190-october-24-2022) `1.9.0` of TF Provider for Confluent that should fix this "panic: reflect: call of reflect.Value.FieldByName on ptr Value"  problem, feel free to reopen if you manage to reproduce the issue.

[2022-10-24 20:27] #119 closed

[2022-10-24 20:28] #118 closed

[2022-10-24 20:38] linouk23 commented on #43
Thanks for sharing the information!

We'll try to increase our initial waiting time in our next release of TF Provider to mitigate the issue until `CNC-154` is resolved.

[2022-10-24 20:38] #123 closed

[2022-10-25 03:26] scotartt opened #124 "Schema Registry management via terraform (feature request)"
Would like the ability for the terraform to create a schema registry.

Would also be good for if adding a schema to the registry, updating a schema, etc. is also supported (in a separate pipeline to the creation of the registry).

Possibly related to #83

[2022-10-25 05:07] linouk23 commented on #124
👋 thanks for creating this feature request!

It's on our roadmap currently. I'll try to share expected resource definitions here soon to get an additional feedback.

[2022-10-25 19:36] andreniklasson commented on #119
@linouk23 Perfect ,thanks so much for such a quick fix!
@nick-osborn Thanks for providing your your config! I got it to work, but I did not have to add the broker details

[2022-10-25 22:04] alukic opened #125 "confluent_kafka_topic Resource: optional rest_endpoint and credentials attributes are actually mandatory"
Using https://registry.terraform.io/providers/confluentinc/confluent/1.9.0 I create a topic by

[code]
The plan confirms the topic creation
[code]

But terraform apply failed to create

[code]
Documentation https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_kafka_topic says that `rest_endpoint` and `credentials` are optional attributes

My provider confi

[2022-10-25 22:25] linouk23 commented on #124
That's very exciting to hear!

We would appreciate some input for our expected resource definitions (we might introduce other API resources later but for now `confluent_schema_registry_subject` and `confluent_schema_registry_schema` should be a good start):
[code]

Here're 2 questions:

1. Do you think it's worth it to introduce a separate subject resources even though there's no corresponding `PO

[2022-10-25 22:43] linouk23 commented on #125
👋 thanks for creating the issue!

Could you double check that your configuration block looks like ⬇️ :
[code]

[2022-10-25 22:43] linouk23 commented on #125
cc @alukic

[2022-10-25 22:44] linouk23 commented on #5
👋 on a somewhat related note, we kicked off some discussions about resource definitions for `schema` / `subject` resources in https://github.com/confluentinc/terraform-provider-confluent/issues/124#issuecomment-1291206863. All contributions are welcome!

[2022-10-25 23:53] scotartt commented on #124
I'm probably not qualified to answer this anywhere near definitively, so therefore you should do what you think is best here or what real schema registry experts in confluent or other customers might say. (sorry damp squib there).

It seems perfectly fine to me, one caveat (below), and one question: How is the schema referenced by a topic tf which needs it?

The one caveat is the reference to the

[2022-10-26 01:46] jensenity commented on #124
If this is the case, we are planning to just use the `confluent_schema_registry_schema` but not the subject itself.

It looks perfect for us. That's exactly what we need.

[2022-10-26 04:14] leewoobin789 commented on #124
Two additional aspects:

1. Schema Compatibility setting would be great fit in the subject resource in the cases where this setting needs to be individually handled in each subject.
Maybe:
[code]

2. I have a concern that the schema changes could lead to frequent failure of apply procedure because of both invalid format and compatibility failure. At least the first one can be probably prevented by

[2022-10-26 04:32] linouk23 commented on #124
@leewoobin789 that's an amazing catch!

I've been looking at our [SR API](https://docs.confluent.io/cloud/current/api.html#tag/Config-(v1)) and based on the API, it looks like we [may](https://docs.confluent.io/platform/current/schema-registry/develop/api.html#sr-api-compatibility) introduce `mode` and `compatibility` objects. The interesting detail is that they both make sense at a cluster and su

[2022-10-26 05:07] arkiaconsulting commented on #124
If it can help, I wrote this [provider](https://github.com/arkiaconsulting/terraform-provider-confluent-schema-registry) one year ago. Feel free to get inspired.

As a side note, how will having only the schema resource deal with the `TopicRecordName` strategy ?

[2022-10-26 05:10] linouk23 commented on #124
👏 @arkiaconsulting

Could you share a little bit more details about this use case? When I look at the Option #1:
[code]
it makes me think we might want to introduce `confluent_schema_registry_subject` as a resource but I'm curious to see other arguments / popular SR use cases.

[2022-10-26 05:13] arkiaconsulting commented on #124
I just realize that I only implemented the schema resource in the provider as well. I don't remember why I've headed this way, but I think that having the subject resource as well was not of great help

[2022-10-26 05:20] linouk23 commented on #124
So how does it work with

then 😁

[2022-10-26 05:22] arkiaconsulting commented on #124
Now that I've refreshed my mind, it plays well 😁

[2022-10-26 05:24] arkiaconsulting commented on #124
Apart from this, I remember having tried to implement the PROTOBUFF schema, but I had hard time finding a way to correctly normalize the string.

[2022-10-26 05:27] linouk23 commented on #124
Nice! Do you have a Terraform configuration snippet about what's the relationship between subject and the strategy?

I found this [note](https://docs.confluent.io/platform/current/schema-registry/develop/api.html#subjects):

but it seems like it doesn't directly maps to Terraform Configuration - one can still user pretty much any name for a subject 🤔

[2022-10-26 05:32] arkiaconsulting commented on #124
You'll find a example configuration [here](https://github.com/arkiaconsulting/terraform-provider-confluent-schema-registry/blob/main/examples/main.tf). For this TopicRecordName strategy, the name of the subject must adhere to a specific naming, as stated in the documentation you linked us to.

[2022-10-26 09:48] arkiaconsulting commented on #124
Idea: you could define a specific resource for this kind of schema. Eg.: `topic_record_name_schema`. That way the UX (DX) is better, as the build of the subject name is done by the provider

[2022-10-26 18:13] tringuyen-yw commented on #125
@linouk23 The documentation [Confluent Provider, Provider Authentication](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs#environment-variables) mentions

[code]

Which is closest to our use case, ie. managing multiple clusters. However we don't use Terraform workspace. Furthermore, using the Confluent CLI we can query Kafka cluster objects without using the REST endpoin

[2022-10-26 21:08] linouk23 commented on #124
qq: how would provider be able to construct a subject name by itself? Sounds like we might have to reference a topic name in this scenario.

I wonder whether it might be better suited for input validation:
* subject name should include 2 dashes
* or things like Sentinel or other policy as code frameworks

[2022-10-27 03:41] linouk23 commented on #43
👋
update: we [released](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md#1100-october-26-2022) a new `1.10.0` version of TF Provider that should mitigate this issue by adding an initial wait when creating a `confluent_connector` resource.

cc @bjaggi

[2022-10-27 03:46] linouk23 commented on #5
👋
update: we [released](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md#1100-october-26-2022) a new `1.10.0` version of TF Provider where we dded new `confluent_stream_governance_cluster` [resource](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_stream_governance_cluster) and a corresponding [data source](https:/

[2022-10-27 03:46] #5 closed

[2022-10-27 03:46] linouk23 commented on #114
update: we [released](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md#1100-october-26-2022) a new `1.10.0` version of TF Provider where we dded new `confluent_stream_governance_cluster` [resource](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_stream_governance_cluster) and a corresponding [data source](https://r

[2022-10-27 03:47] linouk23 commented on #7
update: we [released](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md#1100-october-26-2022) a new `1.10.0` version of TF Provider where we dded new `confluent_stream_governance_cluster` [resource](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_stream_governance_cluster) and a corresponding [data source](https://r

[2022-10-27 07:17] linouk23 commented on #125
I'm going to resolve this issue but feel free to reopen if you have other questions.

[2022-10-27 07:22] #125 closed

[2022-10-27 10:50] arkiaconsulting commented on #124
That was the idea of having a separated resource dedicated to a schema in TopicRecordName strategy. We would take the topic as input

[2022-10-27 10:54] mps021 opened #126 "error creating Role Binding"
I am writing to use create role bindings using the RBAC module on version 1.8.0, I am able to create the service accounts, while trying to assign role to the new service accounts it throws the below message

error creating Role Binding: Post "https://api.confluent.cloud/iam/v2/role-bindings" POST https://api.confluent.cloud/iam/v2/role-bindings giving up after 5 attempt(s).

My initially thought w

[2022-10-27 11:51] lorelei-rupp-imprivata commented on #7
This isnt a schema registry resource though right? This is something else? @linouk23

[2022-10-27 16:04] linouk23 commented on #7
`confluent_stream_governance_cluster` is essentially SR cluster @lorelei-rupp-imprivata.

[2022-10-27 16:47] lorelei-rupp-imprivata commented on #7
So we are not using governance clusters, but we do set up a schema registry for our environments. I have seen things to upgrade to this stream governance stuff but we are not doing that at this time.

Will schema registry creation still be coming then in the terraform provider?

[2022-10-27 16:48] nmaves commented on #43
@linouk23 the 1.10.0 release fixed our issue.

[2022-10-27 18:13] linouk23 commented on #7
It's on the roadmap, correct. Subscribe to https://github.com/confluentinc/terraform-provider-confluent/issues/124 for the updates.

[2022-10-27 18:14] linouk23 commented on #126
@mps021 could you share an example of your `confluent_role_binding` resource definition that fails with `500`?

[2022-10-28 05:16] mps021 commented on #126
@linouk23  below is my resource definition.
`resource "confluent_role_binding" "DeveloperRead" {
  role_name     = "DeveloperRead"
  crn_pattern   = var.crn_pattern
  count         =  length(var.user_developer_read)
  principal     =  var.user_developer_read[count.index]
}
`
`variable "user_developer_read" {
  type = list(string)
  description = "user_name"
  default = ["User:sa-xxxx"]
}`

[2022-10-28 13:33] S1M0NM opened #127 "error creating Kafka ACLs: 400 Bad Request: pattern_type cannot be MATCH"
Provider Version: 1.51
Cluster Type: Dedicated Cluster
Connection Type: Azure-Private-Link

---

Hello,

we are currently trying to create some ACLs and were trying to get an ACL working for a pattern using a wildcard asterisk inside the resource name - example: "company.location.private.*.dev"
Using LITERAL pattern type is not working using an asterisk and using **PREFIX** would include all topic

[2022-10-28 18:49] linouk23 commented on #126
Could you share the CRN pattern you're using? I'm wondering whether our backend returns `500` instead of `400`.

[2022-10-29 16:16] S1M0NM commented on #127
So i found the [PatternType-Enum](https://kafka.apache.org/20/javadoc/org/apache/kafka/common/resource/PatternType.html) Java Doc.

If i get this right ANY and MATCH can only be used in filters an not for ACL creation?

`ANY In a filter, matches any resource pattern type.
MATCH In a filter, will perform pattern matching.`

[2022-10-29 22:32] linouk23 commented on #127
👋 thanks for creating this issue @S1M0NM!

Your question definitely makes sense to me but unfortunately it seems to be too advanced for me, I asked our backend team who works on this but it might take a while for them to reply so I'd probably recommend asking ⬆️ on StackOverflow or something.

That said, your initial results look reasonable to me.

[2022-10-31 05:21] jensenity commented on #124
Hi, @linouk23 whats the timeline look like?

[2022-10-31 09:21] yusaito01 opened #128 "Documentation about bootstrap_endpoint of confluent_cluster_link is invalid"
According to [a page of confluent_cluster_link](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_cluster_link#bootstrap_endpoint), `bootstrap_endpoint` argument of `source_kafka_cluster` block accepts both format like `SASL_SSL://XXX:9092` and `XXX:9092`.
But in fact, it accepts only a format starting with `SASL_SSL://`.

My codes is below:
[code]

And

[2022-10-31 12:31] leewoobin789 commented on #124
@linouk23 one additional Aspect: On deletion process of schema resource, there might need to be an option to delete either one specific version or entire versions. One tricky part will be the compatibility with "transitive" :(

[2022-10-31 21:42] linouk23 commented on #128
@yusaito01 could you confirm you're using TF Provider for Confluent with version `1.9.0` or later? The issue you're referencing seems like a duplicate of #118 that we should have [fixed](https://github.com/confluentinc/terraform-provider-confluent/blob/master/CHANGELOG.md#190-october-24-2022) in `1.9.0`.

[2022-10-31 21:43] linouk23 commented on #128
It doesn't look like there're any validations for `SASL_SSL://` prefix left in [resource_cluster_link.go](https://github.com/confluentinc/terraform-provider-confluent/blob/master/internal/provider/resource_cluster_link.go).

[2022-11-01 02:51] yusaito01 commented on #128
@linouk23 Thank you for your comment.

sorry I used TF Provider version 1.5.1. After update to 1.10.0, this error was resolved.

[2022-11-01 02:51] #128 closed

[2022-11-01 03:17] yusaito01 opened #129 "How to create confluent_cluster_link without credentials block?"
I have tried to create `confluent_cluster_link` without `credentials` block in `source_kafka_cluster` because our on-prem kafka cluster have no auth settings, and it was failed.
According to [document](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_cluster_link#credentials), credentials block is not Required Configuration Block. But terraform states

[2022-11-01 06:53] linouk23 commented on #129
Thanks for creating this issue @yusaito01!

When I took another look at our examples, it looks like `destination_kafka_cluster.credentials` is required (we'll update our docs 👌) and `source_kafka_cluster.credentials` is optional.

The reason why `source_kafka_cluster.credentials` is optional is that it should not be specified for just for _destination inbound_ part of Cluster Link, see [source-ini

[2022-11-01 06:54] linouk23 commented on #129
By the way, as of now, `confluent_cluster_link` only supports Cloud <-> Cloud 😕

[2022-11-01 08:27] linouk23 commented on #124
I think our roadmap says Q1 2023 for _General Availability_ delivery for SR resource but we'll try our best to deliver it earlier.

[2022-11-01 09:14] yusaito01 commented on #129
@linouk23 Thank you for your reply.

I understood this and why I need to add credential block to source_kafka_cluster.

Umm, I did not know it. I checked the document again, but I guess it does not state it.

By the way, we are using a dedicated confluent cloud cluster with private network, and according to our Confluent Account Team, we need to make a support request in this situation. So I under

[2022-11-01 09:14] #129 closed

[2022-11-01 09:33] linouk23 commented on #129
That's a great catch @yusaito01 and we'll work on updating our docs if we don't add CP support before GA release.

I'm not sure I'm following this. There's this [doc page](https://docs.confluent.io/cloud/current/multi-cloud/cluster-linking/index.html#supported-cluster-types) that says:
![image](https://user-images.githubusercontent.com/5459870/199203823-6b883ed3-cadd-48e8-b091-03426bd775f5.png)

s

[2022-11-01 09:54] yusaito01 commented on #129
@linouk23 thank you for your reply and giving information.

I guess this row says **source cluster** is a dedicated cluster with private networking and destination is a dedicated cluster. In our situation, source cluster is a on-prem kafka cluster and **destination* is a dedicated cluster with private networking.
And according to this [page](https://docs.confluent.io/cloud/current/multi-cloud/clus

[2022-11-01 16:39] linouk23 commented on #127
OK so the backend team confirmed that both `ANY` and `MATCH` are for filters (not for create operations). In fact, only supported options should be `PREFIX` and `LITERAL`. We'll work on updating the docs accordingly.

[2022-11-01 16:39] #127 closed

[2022-11-01 17:29] johnnyplaydrums commented on #114
Really awesome turnaround time on this feature! Thank you all so much!

[2022-11-02 02:17] linouk23 commented on #121
I'm closing this PR since we updated the docs, see https://docs.confluent.io/cloud/current/clusters/broker-config.html#custom-topic-settings-for-all-cluster-types-supported-by-kafka-rest-api-and-terraform-provider

We'll update TF docs accordingly in our next release of TF Provider.

[2022-11-02 02:17] #121 closed

[2022-11-03 18:56] cmkb opened #132 "terraform confluent provider - SINGLE_ZONE cluster deployment doesn't show zone placement"
**Problem**
When choosing a SINGLE_ZONE  deploymentfor a Kafka cluster, it doesn’t tell you which zone it got deployed to after the resource gets deployed. The result of this is that if you are automating all the networking components via terraform, you don’t know which zone to route to get to the cluster. If you do all three zones, you will get errors trying to access the cluster since the kafka

[2022-11-03 20:07] linouk23 commented on #132
Thanks for reporting it @cmkb!

It's worth mentioning that current CMK API doesn't support this yet and this request is being tracked as `ORC-4711` internally. You might want to reach out to Confluent support so that they'll record it as +1 interested customers for that feature. Thanks!

[2022-11-03 20:07] linouk23 commented on #126
I'll close it due to inactivity, feel free to reopen.

[2022-11-03 20:07] #126 closed

[2022-11-04 08:26] brunodomenici commented on #124
What about Schema Registry Linking? I see the resource `confluent_cluster_link` but anything related to Schema Registry Linking.

[2022-11-04 16:26] sawyerw-mastery opened #133 "Feature request: IAM Invitations"
I was wondering if there could be support in Terraform for sending IAM invitations. It looks like the ccloud-sdk-go-v2 supports the API endpoints:

https://github.com/confluentinc/ccloud-sdk-go-v2/tree/master/iam/v2#documentation-for-api-endpoints

We currently manage all of our AD through Terraform so it would make it that much easier to invite folks to Confluent.

[2022-11-04 20:33] linouk23 opened #134 "Enable Schema Linking via Terraform"
### Context
https://www.youtube.com/watch?v=xpKvLeeT_Qc

### What
This is a feature request from another issue: https://github.com/confluentinc/terraform-provider-confluent/issues/124#issuecomment-1303110948

[2022-11-04 20:34] linouk23 commented on #124
@brunodomenici created a separate issue to track it: https://github.com/confluentinc/terraform-provider-confluent/issues/134

[2022-11-06 18:00] ravichoudhary20 opened #135 "How to change terraform provider from mongey to confluentinc without impacting current terraform resources created"

[2022-11-06 18:03] ravichoudhary20 commented on #135
Currently, I am using "Mongey/kafka" provider and now I have to switch to "confluentinc/confluent" provider with my existing terraform pipeline.
How can I do this ?

Steps currently following to switch the provider

Changing the provider in main.tf file and running following command to replace provider

    terraform state replace-provider Mongey/kafka confluentinc/confluent

and after that I run

[2022-11-06 20:54] linouk23 commented on #135
👋 @ravichoudhary20, thanks for opening this issue!

I haven't got a ton of experience using "Mongey/kafka" provider but it [looks like](https://registry.terraform.io/providers/Mongey/kafka/latest/docs/resources/topic) the resource definitions are slightly different so I'm not sure whether `terraform state replace-provider` will help.

Until our TF provider provides a resource exporter or something

[2022-11-06 21:19] linouk23 commented on #124
I've got another quick question, would you rather have a single instance that corresponds to the latest schema version or have an instance per schema version?
[code]

[2022-11-06 21:20] linouk23 commented on #124
cc @jensenity @leewoobin789 @arkiaconsulting @scotartt and others 🤞

[2022-11-09 21:01] djoul2706 opened #136 "confluent_private_link_access unsupports GCP param"
following doc [confluent_private_link_access](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_private_link_access#gcp)

got the following error :
│ Error: Unsupported block type
│
│   on main.tf line 22, in resource "confluent_private_link_access" "gcp":
│   22:   gcp {
│
│ Blocks of type "gcp" are not expected here.

[2022-11-09 21:42] #136 closed

[2022-11-09 21:43] djoul2706 commented on #136
was using an outdated version of confluent terraform package

[2022-11-10 06:10] mps021 opened #137 "Unable to create role bindings using terraform"
I am writing to use create role bindings using the RBAC module on version 1.8.0, I am able to create the service accounts, while trying to assign role to the new service accounts it throws the below message

error creating Role Binding: Post "https://api.confluent.cloud/iam/v2/role-bindings" POST https://api.confluent.cloud/iam/v2/role-bindings giving up after 5 attempt(s).

My initially thought w

[2022-11-10 20:27] #135 closed

[2022-11-10 20:31] linouk23 commented on #137
👋 thanks for creating the issue @mps021!

I can see our role bindings backend works OK for other users but it does return quite a bit of 500s for your specific org.

Could you share an example of a role binding you're trying to create? I feel like it might be `400` (Bad Request) error that our backend return as `500`, see this [doc page](https://registry.terraform.io/providers/confluentinc/conflue

[2022-11-11 05:47] mps021 commented on #137
`resource "confluent_role_binding" "CloudClusterAdmin" {
  role_name     = "CloudClusterAdmin"
  crn_pattern   = var.crn_pattern
  count         =  length(var.user_admin)
  principal     =  var.user_admin[count.index]
}`

[2022-11-11 05:47] mps021 commented on #137
` "crn://confluent.cloud/organization=xxxxxxx/environment=test=xxxx/cloud-cluster=xxxxx/kafka=xxxxxx"
`

[2022-11-11 20:11] linouk23 commented on #137
@mps021 could you try to use data source:
[code]
to infer correct value for `crn_pattern` by using `data.confluent_kafka_cluster.example_using_id.resource_name`?

That might be a typo but having `environment=test` vs `environment=env-xyz123` might be an issue.

[2022-11-11 20:18] linouk23 commented on #137
I looked at the logs and it seems like the value for `crn_pattern` is a little bit off:

Our backend receives:
[code]
instead of
[code]

Let me know if it helps!

[2022-11-11 20:18] #137 closed

[2022-11-11 22:32] bluedog13 opened #138 "401 Unauthorized Issue to access the cluster with no changes - Previously working"
Terraform is now returning 401 issue when trying to connect to the Kafka Cluster for the same Confluent cloud key/secret that was used to provision the resources.  We haven't changed anything on our end.

Terraform Version Details
[code]

Error Details
[code]

I have verified with the CLI that they key/secret works as well.  What could be the issue?

Thanks.

[2022-11-11 22:40] bluedog13 commented on #138
This was resolved - it was due to how the values were being passed in the pipelines across the stages.

[2022-11-11 22:40] #138 closed

[2022-11-15 12:57] maheshbhole opened #139 "Orphan cluster issue"
Hello,

Getting following error but from portal cluster id "lksqlc-6kvw12" does not exist.

Error: -15T12:45:14.289Z [ERROR] vertex "module.shared-cluster.confluent_ksql_cluster.ksqldb-btt-pos (orphan)" error: error reading ksqlDB Cluster "lksqlc-6kvw12": 401 Unauthorized: Unauthorized

Please help how to approch this problem.

-Mahesh

[2022-11-15 14:14] linouk23 commented on #139
👋 thanks for creating an issue @maheshbhole!

That sounds like an auth issue to me, could you double [check](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs) you're setting Cloud API Keys?
[code]

[2022-11-15 21:24] linouk23 commented on #139
Feel free to reopen if the issue persists.

[2022-11-15 21:24] #139 closed

[2022-11-16 14:12] pixie79 opened #140 "Private Cluster API_Key provisioning"
The following calls create an API Key, using the main confluent API as the source but then try to validate themselves using the internal private API endpoint.

[code]

This will never work as the private link may not be accessible to the machine creating the cluster. It should be able to create the API key and compete ok without trying to list topics from the private endpoint.

[2022-11-16 17:03] linouk23 commented on #140
👋 @pixie79 thanks for creating this issue!

You might want to use `disable_wait_for_ready` [attribute](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_api_key#argument-reference) to disable readiness check for `confluent_api_key` resource (https://github.com/confluentinc/terraform-provider-confluent/issues/25, https://github.com/confluentinc/terraform

[2022-11-16 17:03] #140 closed

[2022-11-17 05:00] urspraveen2001 opened #141 "Terraform Plan Failing with : no Kafka ACLs were matched"
We have used the Confluent Kafka provider and created a API key and ACL to associate with the API key. When the ACL was modified or deleted from the Confluent Cloud via Console or CLI the terraform Plan is failing to refresh(Plan) throwing "Error: error reading Kafka ACLs <Actual ACL resource> no Kafka ACLs were matched".

[2022-11-17 09:18] javiervelamindcurv opened #142 "Error trying deploy confluent_kafka_acl confluent_connector resources"
Hello,

Since yesterday (2022/11/17), I'm getting the error The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ApplyResourceChange call. The plugin logs may contain more details.

I updated from 1.7.0 to 1.14.0 version and now the error is: Error: 401 Unauthorized: <invalid reflect.Value>

Before yesterday the code was working correctly.

Any idea?

Thanks and bes

[2022-11-17 14:01] linouk23 commented on #141
@urspraveen2001 could you share the version of TF Provider you're using and your Terraform configuration?

[2022-11-17 14:02] linouk23 commented on #142
Thanks for reporting @javiervelamindcurv!

Could you share your TF configuration? Also could you try `1.13.0` and see whether it works still?

[2022-11-17 14:19] linouk23 commented on #142
By the way, I just run [basic-kafka-acls](https://github.com/confluentinc/terraform-provider-confluent/tree/master/examples/configurations/basic-kafka-acls) using `1.14.0` and it seems to work fine 🤔

[2022-11-17 14:52] linouk23 commented on #141
Just reread your comment and it seems like the expected result was not to throw an error and suggest you to create this new ACLs.

I identified what piece of code we'll need to update, let me check whether my assumption is accurate.

[2022-11-17 15:39] superkartoffel commented on #124
Aren't schema versions pretty much immutable? Immutable terraform resources don't sound very useful to me.
Maybe a confluent_schema_registry_schema resource (option#1) which creates new versions on mutation and a
confluent_schema_registry_schema_version data-resource in case someone needs to access specific versions?

[2022-11-17 15:54] linouk23 commented on #124
That's an interesting option @superkartoffel! I think it general we try to make TF experience similar to what a user could see on the Confluent Cloud Console -- at the moment,  the Confluent Cloud Console displays every schema as a separate entry in the table.

[2022-11-17 16:00] linouk23 commented on #141
We merged a fix to our internal repo and it should go live in our next release of TF Provider.

[2022-11-17 16:03] linouk23 commented on #141
Namely, instead of
[code]
you'll get
[code]

[2022-11-18 07:15] javiervelamindcurv commented on #142
Hello @linouk23 !

Using 1.13.0, I got same error: 401 Unauthorized: <invalid reflect.Value>

Also I opened a support ticket,

[2022-11-18 10:34] adamj99 opened #143 "Feature request - timeouts on connector resource"
https://developer.hashicorp.com/terraform/language/resources/syntax#operation-timeouts

Please can you implement a timeout feature for the connector resource? They seem to always take 15 minutes to create but that isn't what's reflected in the confluent cloud console.

Thank you

[2022-11-18 13:30] maheshbhole commented on #139
@linouk23
Hello ,
These server did not exist as they were deleted manually from portal.
Terraform does not know it and keep referencing those .
I think error should be correct that server is reachable etc.

[2022-11-18 14:01] linouk23 commented on #139
Could you add more details to the message above? Do you mean that ksqlDB clusters were deleted manually but you've been getting 401 errors still?

[2022-11-18 14:03] #143 closed

[2022-11-18 14:07] linouk23 commented on #142
I see, could you double check that you're passing Cloud API Keys?

See https://registry.terraform.io/providers/confluentinc/confluent/latest/docs#example-usage

[2022-11-18 14:57] javiervelamindcurv commented on #142
I'm assigning ACL to an existing service account.  I wrote an example.

Are needed Cloud API keys?  - the code was working before 2022/11/16

resource "confluent_kafka_acl" "app-producer-write-on-topic" {
  kafka_cluster {
    id = var.cluster_id
  }
  resource_type = "TOPIC"
  resource_name = var.topic_name
  pattern_type  = "LITERAL"
  principal     = "User:${var.sa_id}"
  host          = "*"

[2022-11-18 14:59] linouk23 commented on #142
Correct, Cloud API Key are necessary for performing resourceID -> intID (`sa-abc123` -> `44421`) until we release a new version of our APIs.

[2022-11-18 15:00] javiervelamindcurv commented on #142
Crazy... do you when are you going to release a new version of your API?

[2022-11-18 15:02] linouk23 commented on #142
It's on the roadmap but I can't share any timelines publicly.

[2022-11-18 15:03] linouk23 commented on #142
FWIW I feel like we added this behavior back in `0.7.0` (pre-GA `1.0.0`) or something.

[2022-11-18 21:22] linouk23 commented on #141
@urspraveen2001 we've just released `1.15.0` version of TF Provider that included the fix ⬆️ .

[2022-11-18 21:22] #141 closed

[2022-11-21 05:46] #142 closed

[2022-11-21 15:54] dkirrane commented on #124
Is there a datasource to lookup a schema registry? I'd like to lookup the schema-registry uri, username & password and store them in KeyVault for applications to use.

[2022-11-22 13:03] jensenity commented on #124
True. Even with confluent UI, we aren't able to change the schema Field/Type if it was declare in the previous version. We had to constantly add a new field and add null default of the deprecate field once we are not using it anymore. If not we just delete the schema registry completely. I think going align with confluent cloud ui will be better so our cicd operations can remain the same.

[2022-11-22 16:28] linouk23 commented on #124
URI meaning SR Cluster URL? See https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/data-sources/confluent_schema_registry_cluster. cc @dkirrane @arkiaconsulting @jensenity

Adding a data source that returns credentials is not on our roadmap (fwiw there are no data sources in TF Provider for Confluent that return secrets since it might not be the best security practice).

[2022-11-23 08:56] maheshbhole opened #144 "Topic is getting recreated/replaced with new topic by terraform"
Hello,

We are facing issue where we created topic with terraform but to attach schema it needs to be modified from portal. (This can't be done via terraform for now)
But when we rerun terraform , It detects existing topic is diffrent (since it is modified outside terraform) and recreates that topic.
This is issue because we will loose data in that topic.
Do you have any workaround for this.

Thx,

[2022-11-23 10:23] dkirrane commented on #124
So in my case we use https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/key_vault_secret
The applications (Producer, Consumers, Kafka Streams) are running as Pods in Azure AKS. They get their secrets from Azure KeyVault. For this use case is there a way via Terraform to lookup the Confluent SR and get back its url & credentials so I can then store in KeyVault using.

I

[2022-11-23 13:06] vishghelani opened #145 "Confluent Platform support request"
Hello,

I understand this supports management of confluent cloud kafka clusters, is this provider likely to support confluent platform in the future?

Vishal

[2022-11-23 13:11] lorelei-rupp-imprivata commented on #124
Our use case would be to "enable/create the schema registry" for an environment and set up api keys for it.

[2022-11-23 15:25] linouk23 commented on #124
@dkirrane thanks for sharing the information! It seems like what you might want to do it to create a SR Key using confluent_api_key [resource](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_api_key) (currently it only supports Kafka API Keys but we're working on adding SR API Keys too) instead of using a SR Cluster data source to fetch credentials.

[2022-11-23 15:26] linouk23 commented on #144
Thanks for creating an issue!

Could you share more details about what topic details are changed via the portal / output of `terraform plan` that causes a recreation of a topic?

[2022-11-23 15:26] linouk23 commented on #144
cc @maheshbhole

[2022-11-23 15:28] lorelei-rupp-imprivata commented on #124
We need this available in terraform to create this stuff, so we will wait till its available. Today we actually use the third party provider to configure this stuff since they support it

[2022-11-23 15:30] linouk23 opened #146 "confluent_api_key should support creating a key for Schema Registry clusters"
### What

Currently [confluent_api_key](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_api_key) resource only supports creating Cloud and Kafka API Keys but it should also support Schema Registry API Keys as well.

[2022-11-23 15:30] linouk23 commented on #124
created https://github.com/confluentinc/terraform-provider-confluent/issues/146 to track it 👌

[2022-11-23 15:39] linouk23 commented on #145
@vishghelani thanks for creating this issue!

We're looking at this opportunity and we're trying to see how many customers would be interested in this.

[2022-11-24 08:18] maheshbhole commented on #144
Here is terraform plan output

Terraform detected the following changes made outside of Terraform since the
last "terraform apply":

  # module.shared-cluster.confluent_kafka_topic.likp has changed
  ~ resource "confluent_kafka_topic" "likp" {
      ~ config           = {
          + "cleanup.policy"                      = "delete"
          + "delete.retention.ms"                 = "86400000"

[2022-11-28 06:09] linouk23 commented on #144
I'll try to take a look at it early this week, thanks!

[2022-11-28 18:33] alukic opened #148 "Possible rate limit issue on https://api.confluent.cloud/service_accounts"
Our pipelines are consistently failing on the same call to https://api.confluent.cloud/service_accounts
We have large number of ACLs which might be a problem if there are rate limits on this REST API endpoint
[code]

[2022-11-28 18:49] linouk23 commented on #148
@alukic thanks for reporting an issue!

TF Provider for Confluent retries 5 times on 5xx & 429 errors which doesn't seem sufficient for your use case. Did you try to use
[code]
to see whether it mitigates the issue?

[2022-11-28 19:14] linouk23 commented on #148
@alukic that's exactly right! Let me know whether it helps.

[2022-11-29 03:54] #148 closed

[2022-11-29 08:57] larrywax commented on #65
Hi, I'm trying to setup a dedicated cluster trough pulumi and I was able to retrieve the Confluent AWS account ID from the network object (I guess this could also work in terraform, because pulumi wraps up this provider)
This means that I'm able to create a KMS key with the correct policy attached BEFORE creating the Confluent Kafka cluster.
Now I'm still stuck with the same exact error at the beg

[2022-11-29 09:12] linouk23 commented on #65
Thanks for asking @larrywax!

That sounds reasonable.

Is there particular reason why importing is not sufficient in your use case?

[2022-11-29 09:35] patrickherrera commented on #65
We faced the same issue with AWS (and Terraform).  The workaround I did was to run the CLI first (following [these](https://docs.confluent.io/cloud/current/clusters/byok/byok-aws.html#using-the-confluent-cli-to-encrypt-clusters-using-your-own-key) instructions) and extract all the account IDs from the generated statements.  Luckily you don't even need to provide a valid ARN for the key so you can

[2022-11-29 12:38] larrywax commented on #65
@linouk23 thanks for your fast response!
We are trying to define a custom pulumi component (very similar to a terraform module) that wraps up all the resources needed to create and configure a kafka cluster from the ground up, applying sane defaults for our use case. This component will then be used by developers and executed via CI/CD.

Often, developers are not very confident with low level infr

[2022-11-29 14:07] pkmec commented on #65
@larrywax I was able to the work-around here, groupID you need to assign is defined per environment, so once you have your environment ready, you can go through "add new cluster" wizard until point where you ask to specify custom KMS, at this screen you can grab your groupID, cancel wizard and use it during cluster creations. Not 100% automated, but if you are not creating dynamic environments onl

[2022-11-29 21:41] nick-osborn commented on #145
+1
I think there's some scenarios where having some Confluent Cloud but also Confluent Platform sidecar would be useful. We're planning on doing that some time in the future. It would also be useful for Confluent Connectors that work on Platform but not cloud and/or behave slightly differently due to guardrails for managed connectors. Probably some other useful features that could be managed as pa

[2022-11-30 08:41] javiervelamindcurv opened #149 "Can't update topics setup with another API key"
Hello,

I can't update topics setup using another API key

1. Create an API key
2. Create several topics using the API key created
3. Delete the API key
4. Create another API and try to change the setup of any topics or try delete the topics, you got an error (Now I don't remember if 401 or 403)

The module should support this scenario.

Best regards,

[2022-11-30 10:12] linouk23 commented on #149
Thanks for reporting the issue @javiervelamindcurv!

Sounds like you're talking about the disaster recovery. That [note](https://registry.terraform.io/providers/confluentinc/confluent/latest/docs/resources/confluent_kafka_topic) might be helpful:
![image](https://user-images.githubusercontent.com/5459870/204768769-58ed4fd5-2f6a-4123-9312-d856f6c02eeb.png)

Feel free to reopen if you run into any i

[2022-11-30 10:12] #149 closed

[2022-11-30 10:16] tbublik commented on #146
[code]

[2022-11-30 10:17] linouk23 commented on #146
@tbublik that looks accurate to me, SR Keys are not supported yet unfortunately (both in TF & backend).

[2022-11-30 18:44] nick-osborn commented on #60
Hey @linouk23,
Ive looked at this a few times while my mind was on other things and for some reason it wasnt clicking. I think that should be fine. Admittedly I havent looked very closely at the SSO resources yet although really need to very soon. Ill see if I can get some time to look into it a bit more deeply but I think it should work. More than anything, we just need a way to add users without

[2022-11-30 18:59] linouk23 commented on #60
Adding integration with [Invitations API](https://docs.confluent.io/cloud/current/api.html#tag/Invitations-(iamv2)) is on the roadmap too.